.st {
	border: 0
}
/*
+----------------------------------------------------------------+
	Extras
+----------------------------------------------------------------+
*/

.cf:before, .cf:after {
	content: " ";
	display: table;
}
.cf:after {
	clear: both
}
.clear {
	clear: both
}
/*
+----------------------------------------------------------------+
	Definicoes Gerais
+----------------------------------------------------------------+
*/

h1 {
	font: 3.8em 'OratorpraOi-TextTwo';
	text-align: center;
	margin-top: 150px;
	margin-right: 0;
	margin-bottom: 50px;
	margin-left: 0;
}
/*
+----------------------------------------------------------------+
	Slideshow
+----------------------------------------------------------------+
*/

.slider {
	margin: 0 auto;
	width: 1200px
}
.slider-container {
	height: 300px;
	margin: 0 auto 20px;
	overflow: hidden;
	position: relative;
	width: 1200px;
}
.slider-container .slider-wrapper {
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 5000em; /*Fix for prevent display errors*/
	-webkit-transition: all 800ms ease;
	-moz-transition: all 800ms ease;
	-o-transition: all 800ms ease;
	transition: all 800ms ease;
}
.slider-container {
	float: left;
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 1200px;
}
.slide {
	float:left;
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 1200px;
}
.slider-nav {
	text-align: center;
	width: 1200px;
}
.slider-nav li {
	display: inline;
	padding: 3px;
}
.slider-nav .bullet {
	background-color: #ce0000;
	border-radius: 50%;
	display: inline-block;
	text-indent: -9000px;
	overflow: hidden;
	height: 16px;
	width: 16px;
}
.slider-nav .active {
	background-color: #631e1b;
}
.slider-nav .prev, .slider-nav .next {
	background: url('img/sprite.png') no-repeat;
	display: inline-block;
	text-indent: -9000px;
	overflow: hidden;
	height: 16px;
	width: 16px;
}
.slider-nav .next {
	background-position: -15px top;
}
