.b3{
	position:absolute;
	top:72px;
	width:60%;
	height:auto;
	left:20%;
}
 table,td,th{
     border:1px solid gainsboro;
}
th{
     background: linear-gradient(white,gainsboro);
     
}
.b4{
	position:absolute;
	bottom:10%;
	width:60%;
	left:25%;
}
.b5{
	
}
