 .v_1{
            position: absolute;
            left:20%;
            top:120px;
            width:60%;   /*改成获取屏幕宽度*/
            border:2px solid black;
            background-color:#666;
            height:1500px;
        }
        .v_x{
            position: absolute;
            left:0%;
            width:250px;
            height:250px;
            border-radius:50%;
            margin-top:5%;
            margin-left:5%;
            margin-right:10%;
            margin-bottom:10%;
            top:0%;
            background-color:black;
            overflow:hidden;
        }
        .v_x img{
        	position: absolute;
        	border-radius:50%;
        	left:10%;
        	top:10%;
        	width:80%;
        	height:80%;
        }
        .v_a{
            position:absolute;
            top:6%;
            left:50%;
            width:45%;
            height:200px;
        }
        .v_a span{
        	margin-top:40px;
        	display:block;
        }
        .v_t{
            position:absolute;
            top:410px;
            left:25%;
            width:50%;
            height:900px;
            background-color:gray;
            color:white;
        }
        .v_j{
            position:absolute;
            top:400px;
            left:25%;
            width:50%;
            border: 1px solid black;
            border-radius:90%;
        }
        .v_s{
            position:absolute;
            border-right: 2px solid black;
            border-radius:70%;
            height:300px;
            top:3%;
            left:45%;
        }