
 	.big{
            background-color: #777575;
        }
	#e_center-top{      /*轮播区域*/
            position: absolute;
            top:100px;
            left:20%;
            width:60%;
            height:400px;
            border:1px solid black;
            background-color:gray;
            overflow:hidden;
        }
	.e_center_top_bj{
			 position: absolute;
			 top:100px;
			 width:100%;
             height:400px;
             border:1px solid black;
            background-color:gray;
            z-index:1;
	}
      #photos img{
      float:left;
      width:1200px;
      height:400px;
      }
      
      #photos {  
      	position: absolute;
      	z-index:9;  
      	width: calc(1200px * 4);/*---修改图片数量的话需要修改下面的动画参数*/  }
      	
      .play{ 
      	animation: ma 20s ease-out infinite alternate;
      	}
      	
      @keyframes ma {
         0%,25% {        margin-left: 0px;       }
         30%,50% {       margin-left: -110%;    }
         55%,75% {       margin-left: -212%;    }
         80%,100% {       margin-left: -317%;    }
    	}
        .e_center{          /*中间区域*/
            position:absolute;
            top:550px;
            width:60%;
            height:1800px;
            left:20%;
            background:#272726;
            box-shadow:0 60px 80px 80px rgba(0,0,0,0.24), 0 120px 100px 20px rgba(0,0,0,0.19);
        }
        .e_top{             /*长方形的大图*/
            position:absolute;
            top:4px;
            width:100%;
            height:300px;
            left:4px;
            z-index:0;
        }
        .e_top_tu{
            width:99.2%;
            height:300px;
        }
        .e_top_tu1{
            position:absolute;
            top:25px;
            left:25px;
            width:100px;
            height:100px;
            border:2px solid black;
            border-radius:50%;
            transform:rotate(-30deg);
            animation: a 800ms ease-out infinite alternate;
        }
        .e_top_tu2{
            position:absolute;
            top:25px;
            right:25px;
            width:100px;
            height:100px;
            border:2px solid black;
            transform:rotate(30deg);
            border-radius:50%;
            animation: a 800ms ease-out infinite alternate;
        }
        .e_top_tu3{
            position:absolute;
            top:175px;
            right:25px;
            width:100px;
            height:100px;
            border:2px solid black;
            transform:rotate(120deg);
            border-radius:50%;
            animation: a 800ms ease-out infinite alternate;
        }
        .e_top_tu4{
            position:absolute;
            top:175px;
            left:25px;
            width:100px;
            height:100px;
            border:2px solid black;
            transform:rotate(-120deg);
            border-radius:50%;
            animation: a 800ms ease-out infinite alternate;
        }
        .e_t{               /*推荐歌曲  第一个导航栏*/
            position:absolute;
            top:315px;
            left:4px;
            width:70%;
            height:40px;
            border-bottom: 2px solid green;
        }
        .e_t_text{             /* text1,2,3分别是导航栏的4个分类类别的定位*/
            float:left;
            position:relative;
            top:40%;
            border-left:1px solid black;
            padding-left:3%;
            margin-left:3%;
            width:7%;
            font-size: 16px;
            height:20px;
        }
        .e_t_text1{
            position:absolute;
            top:40%;
            left:37%;
            border-left:1px solid black;
            padding-left:30px;
            width:70px;
            font-size: 16px;
            height:20px;
        }
        .e_t_text2{
            position:absolute;
            top:40%;
            left:49%;
            border-left:1px solid black;
            padding-left:30px;
            width:70px;
            font-size: 16px;
            height:20px;
        }
        .e_t_text3{
            position:absolute;
            top:40%;
            left:61%;
            border-left:1px solid black;
            padding-left:30px;
            width:70px;
            font-size: 16px;
            height:20px;
        }
        .e_t2{              /* 推荐歌曲 导航栏下面的内容区域*/
            position:absolute;
            top:360px;
            left:4px;
            width:70%;
            height:500px;
            overflow:hidden;

        }
/*        .e_lt{                 !* 圆圈图片父级*!
            position:absolute;
            top:4px;
            right:4px;
            width:300px;
            height:300px;
            border-radius:50%;
            overflow: hidden;
        }*/
        .e_tou{
        	position:absolute;
        	top:495px;
        	right:4px;
        	width:25%;
        	height:20px;
        	border-bottom:1px solid green;
        }
        .e_l{               /*左边列表*/
            position:absolute;
            /* top:314px; */
            top:520px;
            right:4px;
            width:25%;
            height:300px;
            border-bottom:1px solid green;
        }
        .e_tu{
        	float:left;
        	width:20%;
        	height:30%;
        	margin:7% 5% 10% 5%;
        	border:1px solid black;
        	overflow:hidden;
        }
        .e_tu img{              /*歌曲图片*/
            border:1px solid black;
/*            border-radius:20%;*/
        }
        .e_tu a{
        	text-align: center;
        }
        .e_tu:hover{
        	border-color:green;
        }
        .e_tu a:hover{
        	color:green;
        }
        .e_2t{              /*推荐专辑  第二个导航栏*/
            position:absolute;
            top:875px;
            left:4px;
            width:70%;
            height:40px;
            border-bottom: 2px solid green;
        }
        .e_2t2{             /*推荐专辑  导航栏下面的内容框*/
            position:absolute;
            top:920px;
            left:4px;
            width:70%;
            height:500px;
            overflow:hidden;
        }
        .e_3t{             /* 新歌排行第三个导航栏*/
            position:absolute;
            top:1435px;
            left:4px;
            width:70%;
            height:40px;
            border-bottom: 2px solid green;
        }
        .e_3t_h{            /*导航栏中最左边的那个logo*/
            float:left;
            margin-left:20px;
            margin-right:20px;
            width:40px;
            height:40px;
            background-color: black;

        }
        .e_3t_bt{			/* 分类 */
            float:left;
            margin-top: 15px;
            font-size: 20px;
            line-height: 20px;
            cursor:pointer;

        }
        .e_3t_text{             /*更多》》那个超链接*/
            position: absolute;
            top:20px;
            right:0;
            width:60px;
            height:20px;
            font-size: 10px;

        }
        .e_3t3{             /*最新歌曲   导航栏下面的内容框*/
            position:absolute;
            top:1480px;
            left:4px;
            width:70%;
            height:500px;
            cursor:pointer;
        }
        .e_3t3_b{       /*歌曲信息项的父级*/
            float:left;
            margin-top:4px;
            margin-bottom:20px;
            width:49.98%;
            height:60px;
            border-right:0.1px solid black;
            background-color:#777575;
            cursor:pointer;
        }
        .e_3t3_a{      /* 前面的序号*/
            float:left;
            width:10%;
            line-height:60px;
            text-align: center;
            height:60px;
            cursor:auto;
        }
        .e_3t3_tu{      /*序号旁边的图*/
            float:left;
            width:60px;
            height:60px;
            cursor:pointer;
        }
        .e_3t3_text{       /* 剩下的文字部分*/
            float:left;
            width:50%;
            height:60px;
            cursor:pointer;
        }
        .e_lb{             /*列表的每一项的父级*/
            float:left;
            margin:20px 10px 0px 15px;
            width:90%;
            height:50px;
            background-color:darkgrey;
        }
/*        .e_lt1{        !* 列表头像的容器*!
            float:left;
            width:100px;
            height:100px;
            background-color: #4e55a9;
        }*/
        .e_lt2{         /*列表头像*/
            float:left;
            width:20%;
            height:40px;
            margin:5px;
        }
        .e_lt3{         /*文本的容器*/
            float:left;
            width:60%;
            margin-top:10px;
            font-size:13px;
            height:50px;
            cursor:pointer;
        }
        .yinfu{
        	position:absolute;
        	top:315px;
        	right:4px;
        	width:25%;
        	height:170px;
        	background-image:url('../images/yin2.jpg');
        	/* background-repeat:no-repeat; */
        	background-size:cover;
        	border:none;
        	overflow:hidden;
        	animation:yinfu 2s ease-out infinite alternate;
        	
        }
        @keyframes yinfu{
        	0%{background-image:url(../images/yin2.jpg);}
        	25%{background-image:url(../images/yin3.jpg);}
        	50%{background-image:url(../images/yin4.jpg);}
        	100%{background-image:url(../images/yin2.jpg);}
        }
        
	