a:link,a:visited
 		{
				color:#d9d9d9; 
                text-decoration:none;/*超链接无下划线*/
		}
a:hover {color:white;} 
a:active{color:#d9d9d9;}
#music{
		left:15%;
		position:relative;
		background-color:#d9d9d9;
		top:80px;
		width:70%;
		height:500px;	
		box-shadow:0 60px 50px 0 rgba(0,0,0,0.24), 0 60px 100px 0 rgba(0,0,0,0.19);
		z-index:1;
}
body{
		background-color:#cccccc;	
}
/* .center{			整体的一个容器标签
      	width:100%;
      	height:100%;
      	border:1px solid red;
      	background-color:#d9d9d9;	
      	} */
#a{
		height:70px;
		width:100%;
		/* display:-webkit-flex;					固定
		-webkit-justify-content:center;			水平居中
		-webkit-align-items:center;				垂直居中 */
	/* 	display:flex;							固定
		justify-content:center;					水平居中
		align-items:center;						垂直居中 */
		border-bottom:2px solid #4CAF50;
		background-color:#393939;
		position:fixed;							/* 绝对定位*/
       	top:0%;								/* 放置在顶部*/
		overflow:ellipsis;	/* 超出文本省略号 */
    	white-space: nowrap;	/* 强制不换行 */
    	box-shadow: 0 30px 70px rgba(0,255,0,.2), inset 0 70px 70px rgba(0,255,0,.1), 0 2px 0 #000;
    	z-index:2;
    	-webkit-animation: a 800ms ease-out infinite alternate;
		-moz-animation: a 800ms ease-out infinite alternate;
		-o-animation: a 800ms ease-out infinite alternate;
		-ms-animation: a 800ms ease-out infinite alternate;
		animation: a 800ms ease-out infinite alternate;
	
}
#ap{				/* 首页的布局标签 */
		margin:auto;
		height:70px;
		width:100%;
		/* display:-webkit-flex;					固定
		-webkit-justify-content:center;			水平居中
		-webkit-align-items:center;				垂直居中 */
	/* 	display:flex;							固定
		justify-content:center;					水平居中
		align-items:center;						垂直居中 */
		background-color:#393939;
		overflow:ellipsis;	/* 超出文本省略号 */
    	white-space: nowrap;	/* 强制不换行 */
    	z-index:2;
	}
/* .a_center{	
		width:1000px;
		height:70px;
		border:1px;
		border-color:yellow;
		background-color:red;
		overflow:hiddle;	超出文本隐藏
    	white-space: nowrap;	强制不换行
	} */
.a_0{
		float:left;
		width:25%;
		height:100%;
		line-height:280%;
		color:#d9d9d9;
		font-size:30px;			/*文字大小*/
        font-family:Blackoak Std;	/*字体*/
        text-align:center;
        
        /* overflow:ellipsis;	超出文本隐藏 */
    	white-space: nowrap;	/* 强制不换行 */
	}
.a_0:hover{
		transition:0.3s;
		line-height:260%;
		box-shadow:0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);	/* 双重阴影 */
}
.a_1{
		float:left;
		border-left:0.5px solid #393939;
		width:8%;
		height:100%;
		color:#d9d9d9;
		font-size:20px;			/*文字大小*/
        font-family:微软雅黑;	/*字体*/
        line-height:350%;
        align-items:center;	
        text-align:center;
        background-color:#151515;
        cursor:pointer; /* 改变鼠标 */
        /*overflow:ellipsis;	超出文本隐藏 */
    	white-space: nowrap;	/* 强制不换行 */
	}
.a_1:hover {
			line-height:300%;
			transition:0.5s;	/* 过渡动画时间   顺序是property duration timing-function delay*/
			box-shadow:0 8px 10px 0 rgba(0,0,0,0.24), 0 11px 30px 0 rgba(0,0,0,0.19);	/* 双重阴影 */
	}
@-webkit-keyframes a {
    0% {
		border-color: #393;
		box-shadow: 0 70px 50px rgba(0,255,0,.2), inset 0 50px 55px rgba(0,255,0,.1), 0 3px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 70px 60px rgba(0,255,0,.6), inset 0 50px 55px rgba(0,255,0,.4), 0 6px 0 #000;
    }
}

@-moz-keyframes a {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@-o-keyframes a {
    0% {
		border-color: #393;
		box-shadow: 0 70px 50px rgba(0,255,0,.2), inset 0 50px 55px rgba(0,255,0,.1), 0 3px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 70px 60px rgba(0,255,0,.6), inset 0 50px 55px rgba(0,255,0,.4), 0 6px 0 #000;
    }
}

@-ms-keyframes a {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}

@keyframes a {
    0% {
		border-color: #393;
		box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
    }	
    100% {
		border-color: #6f6;
		box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
    }
}	
	
	
	
	
	
	
	