*{margin:0;padding:0;}
.z-dq{
	position:absolute;
	left:25%;
	top:70px;
	width:50%;
	height:1400px;
	border:1px solid balck;
	background:gray;
}
.dq-head{
	position:absolute;
	top:10px;
	left:15%;
	width:30%;
	height:30px;
	border-bottom:1px solid black;
}
 .dq-head a{
	float:left;
	margin: 1% 3% 0% 3%;
	padding:0 2% 0 2%;
	background:linear-gradient(#333, #222);
}
.dq-head a:hover{
	color:green;
	box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
} 
.dq-gs{
	position:fixed;
	left:25%;
	top:80px;
	width:6%;
	height:100%;
	border-right:1px solid black;
}
.dq-ge p{
	float:left;
}
.dq-tx{
	float:left;
	width:90%;
	margin:10% 0 4% 0;
	padding:2% 0% 2% 4%;
	border-top:1px solid black;
	border-bottom:1px solid black;
	cursor:pointer;
}
.dq-tx:hover{
	padding-top:5px;
	height:45px;
	background:#393939;
}
.dq-tx img{
	position:relative;
	left:0;
	width:35%;
	height:40px;
	border-radius:50%;
	overflow:hidden;
}
.dq-tx span{
	position:absolute;
	left:40%;
	line-height:250%;
}

.dq-center{
	position:absolute;
	top:100px;
	left:15%;
	width:80%;
	border:1px solid black;
}
.dq-tou{
	float:left;
	margin-left:3%;
	margin-bottom:20px;
	margin-top:10px;
	width:95%;
	height:400px;
	border:1px solid black;
	
}
.dq-tou-tu{
	position:relative;
	left:0;
	width:40px;
	height:40px;
	border-radius:50%;
	overflow:hidden;
	margin-top:5px;
	margin-bottom:5px;
}
.dq-tou span{
	position:absolute;
	margin-left:1%;
	line-height:300%;
}
.dq-x{
	border-top:1px solid black;
	width:20%;
	height:1px;
}
.dq-zj{
	float:left;
	width:20%;
	height:35%;
	text-align:center;
	margin:2% 2% 3% 2%;
	border:1px solid black;
}
.dq-zj img{
	width:100%;
	height:85%;
}









